<div id="login" class="auth-form">
  <div class="d-flex justify-content-end mb-5">
    <a class="lang-item">
      <language-selector></language-selector>
    </a>
  </div>
  <div>
    <h1 class="fs-2 fw-bold text-center mb-3 text-main-color">
      {{'auth.signIn' | translate}}
    </h1>
    <p class="mt-2 text-center lh-sm description fs-6 text-muted-color">
      {{'auth.welcomeBack' | translate}}
    </p>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="loginNow()" class="pt-sm-4 pt-2">
    <div class="mb-3">
      <input id="email" class="form-control" type="text" placeholder="{{'placeholders.email' | translate}}"
        formControlName="email" (input)="publicService?.clearValidationErrors(formControls.email)"
        [class.border-red]="(formControls?.email?.touched||formControls?.email?.dirty)&&formControls?.email?.invalid" />
      <ng-container
        *ngIf="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)">
        <div class="mt-1">
          <ng-container *ngIf="formControls?.email?.errors?.required">
            <span class="text-danger fs-8">
              {{'validations.email'|translate}}
            </span>
          </ng-container>
          <ng-container *ngIf="formControls?.email?.errors?.pattern">
            <span class="text-danger fs-8">
              {{'validations.emailNotCorrect'|translate}}
            </span>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="mb-2">
      <div class="rounded-input p-mask"
        [class.border-red]="formControls?.password?.invalid && (formControls?.password?.dirty || formControls?.password?.touched)">
        <p-password [toggleMask]="true" id="p-password" formControlName="password"
          placeholder="{{'placeholders.password'|translate}}" [attr.autocomplete]="'current-password'"
          [feedback]="false">
        </p-password>
      </div>
      <ng-container
        *ngIf="formControls?.password?.invalid && (formControls?.password?.dirty || formControls?.password?.touched) ">
        <div class="mt-1">
          <ng-container *ngIf="formControls?.password?.errors?.['required']">
            <span class="text-danger fs-8">
              {{'validations.password'|translate}}
            </span>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <a [routerLink]="['/Auth/Forget-password']" class="fs-8 text-muted-color">
      <u>
        {{'auth.forgotPassword' | translate}}
      </u>
    </a>
    <button type="submit" class="btn w-100 btn-solid-main form-btn mt-4 fs-6">
      {{'auth.start'|translate}}
    </button>

    <div class="mt-4 fs-6">
      <p class="mb-0 text-center permission">
        {{'auth.logInToGetPermissions'|translate}}
      </p>
    </div>
  </form>
</div>
