#login {
  .form-logo {
    width: 3rem;
  }
  hr {
    border-width: 2px;
  }
  .form-btn {
    background-color: var(--bg-main-color);
    border-color: var(--bg-main-color);
    color: var(--text-white-color);
    height: 3.7rem;
    border-radius: var(--border-input-radius);
  }
  .social {
    width: 4rem;
    height: 3rem;
    border-radius: 10px;
    &.apple {
      background-color: #111;
    }
    &.google {
      background-color: #fff;
      box-shadow: 0px 2px 3px 0px #0000002b;
    }
    &.facebook {
      background-color: #1877f2;
    }
  }
}
@media (max-width: 587px) {
  #login {
    .fs-2 {
      font-size: 1.3rem !important;
    }
  }
}
