#record-card {
  hr {
    border-color: #8c95a32e;
  }
  .details-btn {
    border-radius: 11px;
    min-width: 6rem;
    height: 2.6rem;
    border: none;
    padding: 0.9rem;
    background-color: #359a9c2b;
    color: var(--text-main-color);
  }
  .badge-btn {
    border-radius: 11px;
    min-width: 5.5rem;
    height: 2.6rem;
    border: none;
    padding: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .badge-delete {
    background: #e5555530;
    color: #e55555;
  }
}
