<div id="successfull-registration">
  <div class="d-flex justify-content-center">
    <img src="assets/images/logo/logo.webp" class="form-logo mb-3" alt="logo" [routerLink]="['']">
  </div>
  <div class="mt-3">
    <h2 class="fs-2 text-center text-main-color mb-3">
      {{'auth.accountCreated'|translate}}
    </h2>
    <p class="mt-2 text-center fs-8 m-auto lh-base mb-0">
      {{'auth.welcomeToMasdar'|translate}}
    </p>
  </div>
  <div class="mt-5">
    <h2 class="fs-2 text-center mb-3 fw-bold">
      {{'auth.welcome'|translate}}
      <span class="text-main-color">
        {{name}}
      </span>
    </h2>
    <div class="d-flex justify-content-center mt-4">
      <button class="btn btn-solid-main" [routerLink]="['/']">
        {{'auth.goToHome'|translate}}
      </button>
    </div>
  </div>
</div>