#vehicle-card {
  .image {
    width: 7rem;
    height: 7rem;
    img {
      border-radius: 10px;
    }
  }
  hr {
    border-color: #8c95a32e;
  }
  .badge-btn {
    border-radius: 11px;
    min-width: 5.5rem;
    height: 2.6rem;
    border: none;
    padding: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .details-btn {
    background-color: #359a9c2b;
    color: var(--text-main-color);
  }
  .btn-solid-main {
    background-color: var(--bg-main-color);
    border-color: var(--bg-main-color);
    color: var(--text-white-color);
  }
  .btn-outline-main {
    background-color: transparent;
    border-color: var(--bg-main-color);
    color: var(--text-main-color);
  }
  .btn-overlay {
    inset: 0;
    background-color: #ffffff91;
    pointer-events: none;
  }
}
