<div id="Welcome" class="pb-4">
  <div class="container-fluid">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6">
        <div>
          <h1 class="fs-4-1 text-capitalize">{{'dashboard.statistics.hi'|translate}} ,
            <span class="px-1 text-main-color">{{userData?.name||''}}</span>
            <span>{{'dashboard.statistics.welcomeBack'|translate}}</span>
          </h1>
          <p class="mt-3">{{'dashboard.statistics.pageIsDesigned'|translate}}</p>
          <div class="mt-4 d-md-block d-none client-img">
            <img class="w-100" src="assets/images/client/client-img.svg" alt="welcome">
          </div>
          <div
            class="bg-dark p-4 global-card d-flex justify-content-center align-items-center flex-column text-white-color text-center mt-4">
            <div class="star bg-white-color rounded-circle d-flex justify-content-center align-items-center">
              <app-dynamic-svg [name]="'edit-client'"></app-dynamic-svg>
            </div>
            <h5 class="fs-5 mt-3 text-capitalize">{{'general.dataNotEditable'|translate}}
            </h5>
            <p class="mt-1">{{'general.except'|translate}}</p>

            <button class="btn bg-white-color mt-3">{{'dashboard.statistics.viewProfile'|translate}}</button>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-6">
        <div class="global-card p-4">
          <div class="d-flex gap-3 justify-content-between align-items-center">
            <h5 class="mb-0 text-main-color fs-5-1">
              {{'general.recordedData'|translate}}
            </h5>
            <div class="data-style d-md-flex d-none align-items-center gap-2 p-2">
              <a class="scaleX-rtl" [class.active]="dataStyleType=='list'" (click)="changeDateStyle('list')">
                <app-dynamic-svg [name]="'list'"></app-dynamic-svg>
              </a>
              <a class="scaleX-rtl" [class.active]="dataStyleType=='grid'" (click)="changeDateStyle('grid')">
                <app-dynamic-svg [name]="'grid'"></app-dynamic-svg>
              </a>
            </div>
          </div>
          <ng-container *ngIf="dataStyleType=='list'">
            <div class="mt-4 d-flex justify-content-between gap-2 flex-wrap">
              <div>
                <label class="text-muted-color mb-1">{{'labels.fullName'|translate}}</label>
                <p class="mb-0">yasser mohamed</p>
              </div>
              <div>
                <label class="text-muted-color mb-1">
                  {{'labels.id'|translate}}</label>
                <p class="mb-0">985987366364</p>
              </div>
              <div>
                <label class="text-muted-color mb-1">
                  {{'labels.birthDate'|translate}}</label>
                <p class="mb-0">12 سبتمبر 1995</p>
              </div>
              <div>
                <label class="text-muted-color mb-1">
                  {{'labels.phoneNumber'|translate}}</label>
                <p class="mb-0">(+966)324157973</p>
              </div>
              <div>
                <label class="text-muted-color mb-1">
                  {{'labels.email'|translate}}</label>
                <p class="mb-0">yasser45@gmail.com</p>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="dataStyleType=='grid'">
            <div class="mt-4 row" id="modal-form">
              <div class="col-lg-4 col-sm-6 mb-3">
                <label for="fullName" class="required">
                  {{"labels.fullName"|translate}}
                </label>
                <input type="text" id="fullName" class="form-control"
                  placeholder="{{'placeholders.fullName'|translate}}" [value]="'ياسر محمد العوضي'">
              </div>
              <div class="col-lg-4 col-sm-6 mb-3">
                <label for="id" class="required">
                  {{"placeholders.id"|translate}}
                </label>
                <input type="text" id="id" class="form-control" placeholder="{{'labels.id'|translate}}"
                  [value]="'1284764556273485775'">
              </div>
              <div class="col-lg-4 col-sm-6 mb-3">
                <label for="birthDate" class="required">
                  {{'labels.birthDate'|translate}}
                </label>
                <div class="birthDate">
                  <p-calendar appendTo="body" [showIcon]="true" inputId="icon" [readonlyInput]="true"
                    [styleClass]="'date-picker'" placeholder="{{'placeholders.dateFormat'| translate}}"
                    [(ngModel)]="date" [showButtonBar]="true" [todayButtonStyleClass]="'d-none'" dateFormat="dd/mm/yy"
                    hourFormat="12"></p-calendar>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-3">
                <label for="email" class="required">
                  {{"labels.email"|translate}}
                </label>
                <input type="email" id="email" class="form-control" placeholder="{{'placeholders.email'|translate}}"
                  [value]="'yasser45@gmail.com'">
              </div>
              <div class="col-lg-4 col-sm-6">
                <label for="phoneNumber" class="required">
                  {{'labels.phoneNumber'|translate}}
                </label>
                <div class="input-number input-group bg-white-color d-flex flex-nowrap w-100">
                  <span class="input-group-text border-0 fs-6-1 text-dark-color" id="basic-addon1">
                    +966
                  </span>
                  <span class="p-input-icon-right w-100 d-flex flex-nowrap m-0">
                    <input type="number" class="form-control border-0" autocomplete="cc-name" [min]="0"
                      [(ngModel)]="phoneNumber" placeholder="{{'placeholders.phoneNumber'|translate}}">
                  </span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="mt-4">
          <records [clientId]="clientId" [showRecordCount]="false" [showSearch]="false" [showFilter]="false"
            [showToggleData]="true" [showAddBtn]="false" [showReset]="false" [changeTitleStyle]="true"
            [isClientHistory]="true"></records>
        </div>
        <form class="mt-4" aria-label="note-form" [formGroup]="noteForm" (ngSubmit)="submit()">
          <label for="note">
            {{"labels.addNote"|translate}}
          </label>
          <textarea id="note" class="form-control" type="text" placeholder="{{'placeholders.tellUs' | translate}}"
            formControlName="note" (input)="publicService?.clearValidationErrors(formControls.note)"
            [class.border-red]="(formControls?.note?.touched||formControls?.note?.dirty)&&formControls?.note?.invalid"></textarea>
          <ng-container
            *ngIf="formControls?.note?.invalid && (formControls?.note?.dirty || formControls?.note?.touched)">
            <div class="mt-1">
              <ng-container *ngIf="formControls?.note?.errors?.required">
                <span class="text-danger fs-8">
                  {{'validations.requiredField'|translate}}
                </span>
              </ng-container>
              <ng-container *ngIf="formControls?.note?.errors?.minlength">
                <span class="text-danger fs-8">
                  {{'validations.noteLength'|translate}}
                </span>
              </ng-container>
            </div>
          </ng-container>
          <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-solid-main d-flex justify-content-center align-items-center px-sm-5 px-4">
              {{'auth.send'|translate}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>