:root {
  --text-main-color: #359a9c;
  --bg-main-color: #359a9c;
  --text-secondary-color: #01abe5;
  --bg-secondary-color: #01abe5;
  --text-second-color: #a1d12d;
  --bg-second-color: #a1d12d;
  --text-dark-color: #111;
  --bg-dark-color: #111;
  --text-white-color: #fff;
  --bg-white-color: #fff;
  --text-muted-color: #8c95a3;
  --bg-body-color: #fafbfc;
  --grey-900: #101010;
  --grey-700: #484848;
  --grey-400: #999999;
  --grey-100: #9c9c9c;
  --scroll-bg: #359a9c23;
  --placeholder-input-color: #8c95a3;
  --bg-input-color: #f2f7fa;
  --border-input-color: #f2f7fa;
  --second-border-color: #ced4da;
  --border-input-radius: 13px;
  --border-modal-radius: 15px;
  --border-radius-card: 20px;
  --border-radius-dialog: 13px;
  --dashboard-border-radius: 10px;
}
