<div id="edit-client">
  <div class="container-fluid pb-4">
    <h4 class="mb-0 text-capitalize">{{'dashboard.customers.customerDetails'|translate}}</h4>
    <ng-container *ngIf="isLoadingRecordDetails; else noLoading">
      <div class="row mt-4">
        <ng-container *ngFor="let item of [4,4,4,4]">
          <skeleton [type]="'recordDetails'"></skeleton>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #noLoading>
      <div class="row">
        <div class="col-lg-6">
          <div class="global-card p-4 mt-4">
            <div class="d-flex gap-3 justify-content-between align-items-center">
              <h5 class="mb-0 text-main-color fs-5-1">
                {{'dashboard.customers.recordDetails'|translate}}
              </h5>
              <div class="data-style d-md-flex d-none align-items-center gap-2 p-2">
                <a class="scaleX-rtl" [class.active]="dataStyleType=='list'" (click)="changeDateStyle('list')">
                  <app-dynamic-svg [name]="'list'"></app-dynamic-svg>
                </a>
                <a class="scaleX-rtl" [class.active]="dataStyleType=='grid'" (click)="changeDateStyle('grid')">
                  <app-dynamic-svg [name]="'grid'"></app-dynamic-svg>
                </a>
              </div>
            </div>
            <ng-container *ngIf="dataStyleType=='list'">
              <div class="mt-4 d-flex justify-content-between align-items-center gap-2 flex-wrap">
                <div>
                  <img [src]="registrationFile" alt="file" class="file-img"
                    onerror="src='assets/images/not-found/no-img.webp'">
                </div>
                <div>
                  <label class="text-muted-color mb-1">{{'labels.recordName'|translate}}</label>
                  <p class="mb-0">{{recordDetails?.name||'--'}}</p>
                </div>
                <div>
                  <label class="text-muted-color mb-1">
                    {{'labels.registrationNumber'|translate}}</label>
                  <p class="mb-0">{{recordDetails?.number||'--'}}</p>
                </div>
                <div>
                  <label class="text-muted-color mb-1">
                    {{'labels.recordDate'|translate}}</label>
                  <p class="mb-0">{{recordDetails?.expireDate||'--'}}</p>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="dataStyleType=='grid'">
              <div class="mt-4 row align-items-center" id="modal-form">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-3">
                  <img [src]="registrationFile" alt="file" class="file-img"
                    onerror="src='assets/images/not-found/no-img.webp'">
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-3">
                  <label for="fullName" class="required">
                    {{"labels.recordName"|translate}}
                  </label>
                  <input type="text" id="fullName" class="form-control"
                    placeholder="{{'placeholders.fullName'|translate}}" [value]="recordDetails?.name||'--'">
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-3">
                  <label for="id" class="required">
                    {{"labels.registrationNumber"|translate}}
                  </label>
                  <input type="text" id="id" class="form-control"
                    placeholder="{{'labels.registrationNumber'|translate}}" [value]="recordDetails?.number">
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-3">
                  <label for="expireDate" class="required">
                    {{'labels.recordDate'|translate}}
                  </label>
                  <div class="expireDate">
                    <p-calendar appendTo="body" [showIcon]="true" inputId="icon" [readonlyInput]="true"
                      [styleClass]="'date-picker'" placeholder="{{'placeholders.dateFormat'| translate}}"
                      [(ngModel)]="recordDetails.expireDateValue" [showButtonBar]="true"
                      [todayButtonStyleClass]="'d-none'" dateFormat="dd/mm/yy" hourFormat="12"></p-calendar>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="global-card p-4 mt-4">
            <div class="d-flex gap-3 justify-content-between align-items-center">
              <h5 class="mb-0 text-main-color fs-5-1">
                {{'dashboard.customers.licenseDetails'|translate}}
              </h5>
              <div class="data-style d-md-flex d-none align-items-center gap-2 p-2">
                <a class="scaleX-rtl" [class.active]="dataSecondStyleType=='list'"
                  (click)="changeSecondDateStyle('list')">
                  <app-dynamic-svg [name]="'list'"></app-dynamic-svg>
                </a>
                <a class="scaleX-rtl" [class.active]="dataSecondStyleType=='grid'"
                  (click)="changeSecondDateStyle('grid')">
                  <app-dynamic-svg [name]="'grid'"></app-dynamic-svg>
                </a>
              </div>
            </div>
            <ng-container *ngIf="dataSecondStyleType=='list'">
              <div class="mt-4 d-flex justify-content-between align-items-center gap-2 flex-wrap">
                <div>
                  <img [src]="licenseFile" alt="file" class="file-img"
                    onerror="src='assets/images/not-found/no-img.webp'">
                </div>
                <div>
                  <label class="text-muted-color mb-1">
                    {{'labels.licenseNumber'|translate}}</label>
                  <p class="mb-0">{{recordDetails?.licenseNumber||'--'}}</p>
                </div>
                <div>
                  <label class="text-muted-color mb-1">
                    {{'labels.licenseDate'|translate}}</label>
                  <p class="mb-0">{{recordDetails?.licenseDateValue||'--'}}</p>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="dataSecondStyleType=='grid'">
              <div class="mt-4 row align-items-center" id="modal-form">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-3">
                  <img [src]="licenseFile" alt="file" class="file-img"
                    onerror="src='assets/images/not-found/no-img.webp'">
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-3">
                  <label for="licenseNumber" class="required">
                    {{"labels.licenseNumber"|translate}}
                  </label>
                  <input type="text" id="licenseNumber" class="form-control"
                    placeholder="{{'placeholders.licenseNumber'|translate}}"
                    [value]="recordDetails?.licenseNumber||'--'">
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-3">
                  <label for="licenseDate" class="required">
                    {{'labels.licenseDate'|translate}}
                  </label>
                  <div class="licenseDate">
                    <p-calendar appendTo="body" [showIcon]="true" inputId="icon" [readonlyInput]="true"
                      [styleClass]="'date-picker'" placeholder="{{'placeholders.dateFormat'| translate}}"
                      [(ngModel)]="recordDetails.licenseDate" [showButtonBar]="true" [todayButtonStyleClass]="'d-none'"
                      dateFormat="dd/mm/yy" hourFormat="12"></p-calendar>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="global-card p-4 mt-4">
            <div class="d-flex gap-3 justify-content-between align-items-center">
              <h5 class="mb-0 text-main-color fs-5-1">
                {{'dashboard.customers.certificateDetails'|translate}}
              </h5>
              <div class="data-style d-md-flex d-none align-items-center gap-2 p-2">
                <a class="scaleX-rtl" [class.active]="dataThirdStyleType=='list'"
                  (click)="changeThirdDateStyle('list')">
                  <app-dynamic-svg [name]="'list'"></app-dynamic-svg>
                </a>
                <a class="scaleX-rtl" [class.active]="dataThirdStyleType=='grid'"
                  (click)="changeThirdDateStyle('grid')">
                  <app-dynamic-svg [name]="'grid'"></app-dynamic-svg>
                </a>
              </div>
            </div>
            <ng-container *ngIf="dataThirdStyleType=='list'">
              <div class="mt-4 d-flex justify-content-between align-items-center gap-2 flex-wrap">
                <div>
                  <img [src]="certificateFile" alt="file" class="file-img"
                    onerror="src='assets/images/not-found/no-img.webp'">
                </div>
                <div>
                  <label class="text-muted-color mb-1">
                    {{'labels.certificateNumber'|translate}}</label>
                  <p class="mb-0">{{recordDetails?.certificateNumber||'--'}}</p>
                </div>
                <div>
                  <label class="text-muted-color mb-1">
                    {{'labels.certificateDate'|translate}}</label>
                  <p class="mb-0">{{recordDetails?.certificateDateValue||'--'}}</p>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="dataThirdStyleType=='grid'">
              <div class="mt-4 row align-items-center" id="modal-form">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-3">
                  <img [src]="certificateFile" alt="file" class="file-img"
                    onerror="src='assets/images/not-found/no-img.webp'">
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-3">
                  <label for="certificateNumber" class="required">
                    {{"labels.certificateNumber"|translate}}
                  </label>
                  <input type="text" id="certificateNumber" class="form-control"
                    placeholder="{{'placeholders.certificateNumber'|translate}}"
                    [value]="recordDetails?.certificateNumber||'--'">
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-3">
                  <label for="certificateDate" class="required">
                    {{'labels.certificateDate'|translate}}
                  </label>
                  <div class="certificateDate">
                    <p-calendar appendTo="body" [showIcon]="true" inputId="icon" [readonlyInput]="true"
                      [styleClass]="'date-picker'" placeholder="{{'placeholders.dateFormat'| translate}}"
                      [(ngModel)]="recordDetails.certificateDate" [showButtonBar]="true"
                      [todayButtonStyleClass]="'d-none'" dateFormat="dd/mm/yy" hourFormat="12"></p-calendar>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="global-card p-4 mt-4">
            <div class="d-flex gap-3 justify-content-between align-items-center">
              <h5 class="mb-0 text-main-color fs-5-1">
                {{'dashboard.customers.medicalDetails'|translate}}
              </h5>
              <div class="data-style d-md-flex d-none align-items-center gap-2 p-2">
                <a class="scaleX-rtl" [class.active]="dataFourthStyleType=='list'"
                  (click)="changeFourthDateStyle('list')">
                  <app-dynamic-svg [name]="'list'"></app-dynamic-svg>
                </a>
                <a class="scaleX-rtl" [class.active]="dataFourthStyleType=='grid'"
                  (click)="changeFourthDateStyle('grid')">
                  <app-dynamic-svg [name]="'grid'"></app-dynamic-svg>
                </a>
              </div>
            </div>
            <ng-container *ngIf="dataFourthStyleType=='list'">
              <div class="mt-4 d-flex justify-content-between align-items-center gap-2 flex-wrap">
                <div>
                  <label class="text-muted-color mb-1">
                    {{'labels.medicalInsuranceNumber'|translate}}</label>
                  <p class="mb-0">{{recordDetails?.medicalInsuranceNumber||'--'}}</p>
                </div>
                <div>
                  <label class="text-muted-color mb-1">
                    {{'labels.medicalInsuranceDate'|translate}}</label>
                  <p class="mb-0">{{recordDetails?.medicalInsuranceDate||'--'}}</p>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="dataFourthStyleType=='grid'">
              <div class="mt-4 row align-items-center" id="modal-form">
                <div class="col-lg-6 col-md-6 col-sm-6 mb-3">
                  <label for="medicalInsuranceNumber" class="required">
                    {{"labels.medicalInsuranceNumber"|translate}}
                  </label>
                  <input type="text" id="medicalInsuranceNumber" class="form-control"
                    placeholder="{{'placeholders.medicalInsuranceNumber'|translate}}"
                    [value]="recordDetails?.medicalInsuranceNumber||'--'">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mb-3">
                  <label for="medicalInsuranceDate" class="required">
                    {{'labels.medicalInsuranceDate'|translate}}
                  </label>
                  <div class="medicalInsuranceDate">
                    <p-calendar appendTo="body" [showIcon]="true" inputId="icon" [readonlyInput]="true"
                      [styleClass]="'date-picker'" placeholder="{{'placeholders.dateFormat'| translate}}"
                      [(ngModel)]="recordDetails.medicalInsuranceDateValue" [showButtonBar]="true"
                      [todayButtonStyleClass]="'d-none'" dateFormat="dd/mm/yy" hourFormat="12"></p-calendar>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="global-card p-4 mt-4">
            <div class="d-flex gap-3 justify-content-between align-items-center">
              <h5 class="mb-0 text-main-color fs-5-1">
                {{'dashboard.customers.medicalDetails'|translate}}
              </h5>
              <div class="data-style d-md-flex d-none align-items-center gap-2 p-2">
                <a class="scaleX-rtl" [class.active]="dataFifthStyleType=='list'"
                  (click)="changeFifthDateStyle('list')">
                  <app-dynamic-svg [name]="'list'"></app-dynamic-svg>
                </a>
                <a class="scaleX-rtl" [class.active]="dataFifthStyleType=='grid'"
                  (click)="changeFourthDateStyle('grid')">
                  <app-dynamic-svg [name]="'grid'"></app-dynamic-svg>
                </a>
              </div>
            </div>
            <ng-container *ngIf="dataFifthStyleType=='list'">
              <div class="mt-4 d-flex justify-content-between align-items-center gap-2 flex-wrap">
                <div>
                  <label class="text-muted-color mb-1">
                    {{'labels.businessLicense'|translate}}</label>
                  <p class="mb-0">{{recordDetails?.businessLicense||'--'}}</p>
                </div>
                <div>
                  <label class="text-muted-color mb-1">
                    {{'labels.businessLicenseNumber'|translate}}</label>
                  <p class="mb-0">{{recordDetails?.businessLicenseNumber||'--'}}</p>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="dataFifthStyleType=='grid'">
              <div class="mt-4 row align-items-center" id="modal-form">
                <div class="col-lg-6 col-md-6 col-sm-6 mb-3">
                  <label for="businessLicense" class="required">
                    {{"labels.businessLicense"|translate}}
                  </label>
                  <input type="text" id="businessLicense" class="form-control"
                    placeholder="{{'placeholders.businessLicense'|translate}}"
                    [value]="recordDetails?.businessLicense||'--'">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mb-3">
                  <label for="businessLicenseNumber" class="required">
                    {{"labels.businessLicenseNumber"|translate}}
                  </label>
                  <input type="text" id="businessLicenseNumber" class="form-control"
                    placeholder="{{'placeholders.businessLicenseNumber'|translate}}"
                    [value]="recordDetails?.businessLicenseNumber||'--'">
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-template>

    <div class="mt-4">
      <div>
        <employees-vehicles-list [recordId]="recordId" [onlyPreview]="false"
          [showAddBtn]="true"></employees-vehicles-list>
      </div>
    </div>
  </div>
</div>