#auth-form {
  background-color: #fff;
  .slider {
    right: 0;
  }
  &:dir(rtl) {
    .slider {
      left: 0;
      right: inherit !important;
    }
  }
  .bg-form {
    background: linear-gradient(270deg, #0a2527 0%, #287676 100%);
    &:dir(rtl) {
      background: linear-gradient(90deg, #0a2527 0%, #287676 100%);
    }
    min-height: 100vh;
    .min-h {
      min-height: 100vh;
    }
    &.round-banner {
      border-radius: 15px;
      margin: 1rem;
      min-height: calc(100vh - 2rem);
      .min-h {
        min-height: calc(100vh - 2rem);
      }
    }
    & > div {
      // background-image: url(../../../assets/images/auth/auth-bg-bottom.svg);
      background-repeat: no-repeat;
      background-position: bottom left;
    }
  }
  .form-logo {
    width: 3rem;
  }
  .form-h {
    min-height: 100vh;
  }
  .form-btn {
    background-color: var(--bg-main-color);
    border-color: var(--bg-main-color);
    color: var(--text-white-color);
    height: 3.7rem;
    border-radius: var(--border-input-radius);
  }
}
@media (max-width: 576px) {
  #auth-form .form-h {
    min-height: calc(100vh - 10.7rem);
  }
}
