#edit-client {
  .btn {
    height: 2.9rem;
    padding: 1rem;
    border-radius: 10px;
  }

  .btn-solid-main {
    background-color: var(--bg-main-color);
    border: 1px solid var(--bg-main-color);
    color: var(--text-white-color);
  }

  .btn-outline-main {
    background-color: transparent;
    border: 1px solid var(--bg-main-color);
    color: var(--text-main-color);
  }

  .header {
    padding: 0.8rem;
  }

  .prevent-click {
    pointer-events: none;
  }

  .view-record-items {
    background: #8c95a317;
    border: 2px dashed #8c95a399;
    border-radius: var(--border-radius-card);
  }
}
.expire-border{
  border: 1px solid #dc3545;
  border-radius: var(--border-input-radius);
  overflow: hidden;
}

:host::ng-deep {
  .text-danger {
    input{
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity))  !important;
  }
    .p-datepicker-trigger {
      svg, i { 
        color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important; 
        fill: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;  
      }
    }
  }


  /* Component SCSS or global styles.scss */
  .p-multiselect .p-multiselect-token .p-multiselect-token-icon {
    display: none;
    /* Hides the clear "x" icon */
  }

  #edit-client {
    .input-group {

      .form-control,
      .p-calendar-w-btn .p-inputtext {
        height: 3rem !important;
        border-right: 0;
        color: #696969;
        border-radius: var(--border-input-radius) 0 0 var(--border-input-radius);
      }
      .p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
        box-shadow: 0 0 0 0rem transparent;
        border-color: transparent !important;
      }
      .p-calendar:not(.p-calendar-disabled):hover > .p-inputtext {
        box-shadow: 0 0 0 0rem transparent;
        border-color: transparent !important;
      }
      .p-calendar-w-btn .p-inputtext {
        border-left: 0;
        border-radius: 0 !important;
      }

      .input-group-text {
        border: 1px solid var(--second-border-color);
        border-left: 0;
      }

      .edit-input {
        width: 2.4rem;
        min-width: 2.4rem;
        height: 2.4rem;
        border-radius: 10px;
        background-color: #eaeaea;
      }

      &:dir(rtl) {
        
        .form-control {
          border-right: 1px solid var(--second-border-color);
          border-left: 0;
          border-radius: 0 var(--border-input-radius) var(--border-input-radius) 0;
        }

        .input-group-text {
          border-left: 1px solid var(--second-border-color);
          border-right: 0;
          border-radius: var(--border-input-radius) 0 0 var(--border-input-radius);
        }
        .p-dropdown{
          border-right: 1px solid var(--second-border-color) !important;
          border-left: 0 !important;
          border-radius: 0 var(--border-input-radius) var(--border-input-radius) 0;
          overflow: hidden;
        }
      }
    }
  }
}