:host::ng-deep {
  // Focuses on password fields for both RTL and LTR
  &:dir(rtl) {
    .p-input-icon-right > .p-icon-wrapper,
    .p-input-icon-right > i:last-of-type {
      left: 0.75rem !important;
      right: auto !important; // Disable positioning from the right
      color: #6c757d;
    }
  }

  .p-password {
    position: relative; // Ensure the password input and its elements are positioned relatively

    &:dir(rtl) {
      .p-inputtext {
        padding-left: 2.5em; // Make space for the icon on the left in RTL
        padding-right: 0.75em; // Adjust padding to maintain input text space
      }

      .p-password-toggle {
        right: auto !important; // Disable default right positioning
        left: 0.5em !important; // Move the toggle icon (eye) to the left
      }
    }

    .p-input-icon-right > .p-icon-wrapper,
    .p-input-icon-right > i:last-of-type {
      left: auto; // Revert any left settings in LTR
      right: 0.75rem; // Ensure right positioning in LTR
    }
  }
}
.btn {
  height: 2.9rem;
  padding: 1rem;
  border-radius: 10px;
}
.btn-solid-main,
.btn-solid-main:focus {
  background-color: var(--bg-main-color);
  border: 1px solid var(--bg-main-color);
  color: var(--text-white-color);
}
