<form [formGroup]="changePasswordForm" (submit)="submit()" id="modal-form">
  <div class="row">
    <div class="col-md-12">
      <div class="mb-3">
        <label for="currentPassword" class="custom-label mb-2 required">
          {{'labels.currentPassword' | translate}}
        </label>
        <div class="p-mask"
          [class.border-red]="formControls?.currentPassword?.invalid && (formControls?.currentPassword?.dirty || formControls?.currentPassword?.touched)"
          [class.is-valid]="formControls?.currentPassword?.valid && (formControls?.currentPassword?.dirty || formControls?.currentPassword?.touched)">
          <p-password [toggleMask]="true" formControlName="currentPassword"
            placeholder="{{'placeholders.currentPassword' | translate}}" autocomplete="cc-name" appendTo="body">
          </p-password>
        </div>
        <div class="my-2">
          <ng-container
            *ngIf="formControls?.currentPassword?.invalid && (formControls?.currentPassword?.dirty || formControls?.currentPassword?.touched)">
            <ng-container *ngIf="formControls?.currentPassword?.errors?.['required']">
              <span class="text-danger fs-8">
                {{'validations.requiredField' | translate}}
              </span>
            </ng-container>
            <ng-container *ngIf="formControls?.currentPassword?.errors?.['pattern']">
              <span class="text-danger fs-8">
                {{'validations.passwordPattern' | translate}}
              </span>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="mb-3">
        <label for="Password" class="custom-label mb-2 required">
          {{'labels.newPassword' | translate}}
        </label>
        <div class="p-mask"
          [class.border-red]="formControls?.password?.invalid && (formControls?.password?.dirty || formControls?.password?.touched)"
          [class.is-valid]="formControls?.password?.valid && (formControls?.password?.dirty || formControls?.password?.touched)">
          <p-password [toggleMask]="true" formControlName="password"
            placeholder="{{'placeholders.newPassword' | translate}}" autocomplete="cc-name" appendTo="body">
          </p-password>
        </div>
        <div class="my-2">
          <ng-container
            *ngIf="formControls?.password?.invalid && (formControls?.password?.dirty || formControls?.password?.touched)">
            <ng-container *ngIf="formControls?.password?.errors?.['required']">
              <span class="text-danger fs-8">
                {{'validations.requiredField' | translate}}
              </span>
            </ng-container>
            <ng-container *ngIf="formControls?.password?.errors?.['pattern']">
              <span class="text-danger fs-8">
                {{'validations.passwordPattern' | translate}}
              </span>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="mb-3">
        <label for="Password" class="custom-label mb-2 required">
          {{'labels.confirmPassword' | translate}}
        </label>
        <div class="rounded-input p-mask"
          [class.border-red]="formControls?.confirmPassword?.invalid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched)"
          [class.is-valid]="formControls?.confirmPassword?.valid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched)"
          [class.p-disabled]="changePasswordForm.value.password ==''">
          <p-password [toggleMask]="true" formControlName="confirmPassword"
            placeholder="{{'placeholders.confirmPassword' | translate}}" autocomplete="cc-name" [feedback]="false">
            <!-- (onFocus)="onFocusConfirmPassword()" -->
          </p-password>
        </div>
        <div class="mt-2">
          <ng-container
            *ngIf="formControls?.confirmPassword?.invalid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched)">
            <ng-container *ngIf="formControls?.confirmPassword?.errors?.['required']">
              <div class="text-danger fs-8 lh-base">
                {{'validations.requiredField' | translate}}
              </div>
            </ng-container>
            <ng-container *ngIf="formControls?.confirmPassword?.errors?.['pattern']">
              <div class="text-danger fs-8 lh-base">
                {{'validations.passwordPattern' | translate}}
              </div>
            </ng-container>
            <ng-container *ngIf="formControls?.confirmPassword?.errors?.ConfirmPassword">
              <span class="text-danger fs-8">
                {{'validations.not_matched' | translate}}
              </span>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end gap-2 mt-3">
    <button type="submit"
      class="btn btn-solid-main d-flex align-items-center justify-content-center gap-1 text-capitalize">
      <svg width="22" height="20" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.6875 20.9375H24.3125V22.625H0.6875V20.9375ZM20.4312 6.59375C21.1062 5.91875 21.1062 4.90625 20.4312 4.23125L17.3937 1.19375C16.7188 0.51875 15.7063 0.51875 15.0312 1.19375L2.375 13.85V19.25H7.775L20.4312 6.59375ZM16.2125 2.375L19.25 5.4125L16.7188 7.94375L13.6812 4.90625L16.2125 2.375ZM4.0625 17.5625V14.525L12.5 6.0875L15.5375 9.125L7.1 17.5625H4.0625Z"
          fill="#FFF" />
      </svg>
      <span>
        {{'general.save'|translate}}
      </span></button>
  </div>
</form>